body {
  background: rgb(24, 27, 27);
}

.exercise {
  color: rgb(218, 265, 32);
  text-align: center;
  font-family: "Space Grotesk", system-ui, sans-serif;
}

.image-group {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 2px;
}

.image {
  width: 200px;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 7px #c76750;
  background: #ccc;
}

.image:hover {
  outline: 4px solid #e0c477;
}

@media (max-width: 600px) {
  .image-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px #c76750;
  }

  .exercise {
    font-size: 1.2rem;
    margin: 10px;
  }
}
